/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* CSS reset ends */
body {
  /* system fall back fonts */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
/* custom CSS starts */
body {
  min-height: 100vh;
  background: linear-gradient(#e5decf, #d9bda5);
  font-size: 14px;
  position: relative;
}
header {
  position: sticky;
  min-height: 10vh;
  padding: 0 5vw;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #4f3525;
  color: #fff;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}
header h1 {
  font-size: 2.2rem;
  font-weight: bold;
}
header button {
  background-color: #bc7a4f;
  padding: 0.5rem 1rem;
  color: #fff;
  font-size: 1.3rem;
  outline: none;
  border: 1px solid #fff;
  border-radius: 5px;
}
footer {
  background-color: #32251d;
  position: sticky;
  bottom: 0;
  right: 0;
  left: 0;
  color: #fff;
  padding: 0.5rem 2.5rem;
  text-align: center;
}
footer a {
  color: #fff;
}
main {
  margin: 0 auto;
}
.books-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 280px));

  grid-template-rows: auto;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  margin: 2rem 5rem;
}

::backdrop {
  /* background for form*/
  background-color: #000;
  opacity: 0.8;
}

.book {
  max-width: 300px;
  min-height: 250px;
  border: 8px double #50483b;
  border-left: 30px solid #50483b;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 2rem 1.5rem;
  background: #dcc9a8;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  color: #50483b;
  position: relative;
}
.book .title {
  font-size: 1.4em;
  font-weight: bold;

  margin-bottom: 1rem;
}
.book .author {
  font-size: 1rem;
  position: absolute;
  bottom: 2rem;
  max-width: 12ch;
}
.book .pages {
  font-size: 0.8rem;
  position: absolute;
  bottom: 2rem;
  right: 1rem;
}
.book:hover {
  border: 8px double #dcc9a8;
  border-left: 30px solid #dcc9a8;
  background: #50483b;
  color: #dcc9a8;
  transition: 0.6s;
  scale: 105%;
}
dialog {
  position: relative;
  border-radius: 10px;
  background: linear-gradient(#e5decf, #d9bda5);
}

dialog #closeForm {
  position: absolute;
  right: 5px;
  top: 5px;
  padding: 0;
  background: transparent;
  border: none;
}
dialog #closeForm svg {
  width: 30px;
  height: auto;
}
dialog h2 {
  font-size: 1.8rem;
  padding: 1rem;
  text-align: center;
}
dialog .form-item {
  display: flex;
  justify-content: start;
  padding: 10px 20px;
}
dialog .form-item label {
  text-align: right;
  padding-right: 10px;
  min-width: 8ch;
  font-size: 1rem;
  font-weight: bold;
  padding-top: 5px;
}
.form-item.radio-container {
  justify-content: center;
}
dialog p {
  padding-top: 0.8rem;
  font-size: 1rem;
  text-align: center;
  font-weight: bold;
}
dialog .form-item label.radio {
  min-width: auto;
}
dialog .form-item input {
  min-height: 1.5rem;
  font-size: 1rem;
  padding: 0.1rem 0.4rem;
  border-radius: 5px;
  outline: none;
  border: none;
}
dialog .form-item input:focus {
  border: 1px solid #32251d;
}
dialog .form-item #read {
  margin-right: 20px;
}
.btn-container.form-item {
  justify-content: center;
}
.btn-container.form-item button {
  font-size: 1.2rem;
  margin: 0 20px;
  background-color: #4f3525;
  color: #fff;
  border: none;
  padding: 0.4rem 0.8rem;
  border-radius: 5px;
}
